<html>
<head>
    <link rel="stylesheet" href="static/style.css"/>
    <!--script src="static/scripts/jquery-3.3.1.min.js" type="text/javascript"></script-->
    <title>SnailLife Genome Lab</title>
</head>
<body>
<div id="container">
    <div class="header">
        <h1>SnailLife Genome Lab</h1>
    </div>
    {{ template "login.html" }}
