<form id="loginform" action="/login" method="post">
    <label>Username:</label> <input type="text" name="username">
    <br /><label>Password:</label> <input type="password" name="password">
    <br /><input type="submit">

</form>